* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url(source/Galaxia.jpg);
    padding: 20px;
    height: 100%; /* Altura completa de la ventana */
}

.grid {
    display: grid;
    grid-template-rows: 10% 25% 10% 50%; /* Altura de las filas */
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
    height: 100%; /* Llenar el contenedor */
}

.item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    margin-bottom: 2%; /* Separación entre filas */

}

.item1 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas en la fila 1 */
}
.item1 h1{
    text-align: center; /* Centrar el texto */
    margin: 1vw; /* Espacio entre la imagen y el texto */
    color: white; /* Color del texto */
    font-size: 7vw;
}
.item5 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas en la fila 3 */
}

.item3 {
    
    display: flex;
    flex-direction: column; /* Permitir apilar la imagen y el h3 */
    justify-content: center; /* Centrar verticalmente */
    align-items: end; /* Centrar horizontalmente */
    overflow: hidden; /* Evitar que el contenido se desborde */
}

.item3-image {
    width: 30vw; /* Acoplar al tamaño del item */
    height: 100vw; /* Mantener la proporción de la imagen */
    max-height: 100%; /* Limitar la altura máxima al tamaño del item */
    object-fit: contain; /* Asegurarse de que la imagen se vea completa */
    align-items: end; /* Centrar horizontalmente */
}

.item2{
    background-image: url(source/Galaxia.jpg);
    display: flex;
    flex-direction: column; /* Permitir apilar la imagen y el h3 */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    overflow: hidden; /* Evitar que el contenido se desborde */
    padding: 2vw;
}

.item2 p {
    text-align: justify; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 3vw;
    margin: 2vw 0;
}


.item7 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas en la fila 4 */
    flex-direction: column; /* Permitir contenido vertical */
}
.item7 p {
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 4vw;
    margin: 2vw 0;
}

hr{
    width: 30vw;
    margin: 1vw;
}
.subgrid {
    background-color: rgba(12, 14, 44, 0.64);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 5%; /* Separaciones del 5% */
    width: calc(100% - 10%); /* Resta el 5% de cada lado */
    height: 80%; /* Altura del 80% del contenedor */
    margin: 5%; /* Margen del 5% alrededor */
    min-height: 0; /* Permitir que la altura se ajuste */
}

.subitem {
    color: white;
    display: flex;
    flex-direction: column; /* Permitir contenido vertical */
    justify-content: space-between; /* Separar filas */
    padding: 3%; /* Espacio interno */
    overflow: hidden; /* Evitar que se desborde el contenido */
}

.subitem-content {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 3%; /* Separación entre filas */
    flex-grow: 1; /* Permitir que crezca para llenar el espacio */
    max-height: 100%;
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */    
}

.c1f1{
    background-image: url(source/kettlebell-6995813_1280.jpg);
}
.c2f1 {
    background-image: url(source/ai-generated-8703064_1280.jpg);
}
.c3f1{
    background-image: url(source/pexels-joel-super-188959-2315265.jpg);
}

.c1f1:hover{
    background-size: 170%; /* Ajusta este valor para controlar el zoom */
}
.c2f1:hover{
    background-size: 150%; /* Ajusta este valor para controlar el zoom */
}
.c3f1:hover{
    background-size: 170%; /* Ajusta este valor para controlar el zoom */
}