*{
    color: white;
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(source/Galaxia.jpg);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: end;
    column-gap: 2px;

}

.gato{
    margin: 0 auto;
    height:fit-content;
    padding: 10%;
}

#imgGato{
height: 45vh;
}
.presentacion{
    background-color: rgba(0, 0, 0, 0.369);
    height:fit-content;
    width: fit-content;
    padding: 3vh;
    border-radius: 1vh;
    align-items: center;
    justify-content: end;
}
