* {
    box-sizing: border-box;
}

body {
    background-image: url(source/Galaxia.jpg);
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.582);
    min-height: 100vh;
    height: 100%; /* Altura completa de la ventana */
    perspective: 1000px;
}

.grid {
    display: grid;
    grid-template-rows: 10% 30% 5% 50%; /* Altura de las filas */
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
    height: 100%; /* Llenar el contenedor */
}

.item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    margin-bottom: 2%; /* Separación entre filas */

}
a {

    color:  rgb(44, 43, 43);
}
a p:hover{
    color: white;
}
#title:hover{
    color: white;
}
.item1 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas en la fila 1 */
}
.item1 p{
    text-align: center; /* Centrar el texto */
    margin: 1vw; /* Espacio entre la imagen y el texto */
    color: white; /* Color del texto */
    font-size: 5vw;
    /*text-shadow: 4px 4px 4px #aaa;*/
}
.item5 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas en la fila 3 */
}

.item3 {
    display: flex;
    flex-direction: column; /* Permitir apilar la imagen y el h3 */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    overflow: hidden; /* Evitar que el contenido se desborde */
}

.item3-image {
    width: 30vw; /* Acoplar al tamaño del item */
    height: 100vw; /* Mantener la proporción de la imagen */
    max-height: 100%; /* Limitar la altura máxima al tamaño del item */
    object-fit: contain; /* Asegurarse de que la imagen se vea completa */
    align-items: end; /* Centrar horizontalmente */
}

.item2{
    display: flex;
    flex-direction: column; /* Permitir apilar la imagen y el h3 */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    overflow: hidden; /* Evitar que el contenido se desborde */
    padding: 3vw;
    margin: 5vw;
}

.item2 p {
    text-align: justify; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 2vw;
    margin: 2vw 0;
}
#pname{
    font-size: 4vw;
}

.item7 {
    grid-column: 1 / span 2; /* Ocupa ambas columnas en la fila 4 */
    flex-direction: column; /* Permitir contenido vertical */
}
.item9 {
    background-color: rgba(0, 0, 45, 0.185);
    grid-column: 1 / span 2; /* Ocupa ambas columnas en la fila 4 */
    flex-direction: column; /* Permitir contenido vertical */
    margin-bottom: 0%;
    height: 80%;
    /*height: ;*/
}
.item7 p {
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 4vw;
    margin: 2vw 0;
}

hr{
    width: 30vw;
    margin: 1vw;
}
.subgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 2%; /* Separaciones del 5% */
    width: calc(100% - 10%); /* Resta el 5% de cada lado */
    height: 80%; /* Altura del 80% del contenedor */
    min-height: 0; /* Permitir que la altura se ajuste */
}

.subitem {
    background-color: rgba(2, 26, 44, 0.464);
    border-radius: 7%;
    color: rgb(103, 103, 103);
    display: flex;
    flex-direction: column; /* Permitir contenido vertical */
    justify-content: space-between; /* Separar filas */
    padding: 3%; /* Espacio interno */
    overflow: hidden; /* Evitar que se desborde el contenido */
}

.subitem:hover {
    background-color: rgb(79, 103, 124);
}
.subitem-content:hover{
    background-color: rgb(88, 88, 88);
    color: rgb(252, 251, 251);
}

.subitem-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%; /* Separación entre filas */
    flex-grow: 1; /* Permitir que crezca para llenar el espacio */
    max-height: 100%;
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */    
    border-radius: 10%;
    flex-direction: column; /* Permitir apilar la imagen y el h3 */
    overflow: hidden; 
}
.subitem-content p{
    font-size: 2vw;
}
.subitem-content:hover #title{
    color: white;
    font-size: 3vw;
}
.c1f1{
    background-image: url(source/kettlebell-6995813_1280.jpg);
}
.c2f1 {
    background-image: url(source/ai-generated-8703064_1280.jpg);
}
.c3f1{
    background-image: url(source/pexels-joel-super-188959-2315265.jpg);
}

.c1f1:hover{
    background-size: 110%; /* Ajusta este valor para controlar el zoom */
}
.c2f1:hover{
    background-size: 110%; /* Ajusta este valor para controlar el zoom */

}
.c3f1:hover{
    background-size: 110%; /* Ajusta este valor para controlar el zoom */

}